<div data-rating="{{stars}}" class="ui star rating">
  <i class="icon {{if isOne 'active'}}"></i>
  <i class="icon {{if isTwo 'active'}}"></i>
  <i class="icon {{if isThree 'active'}}"></i>
  <i class="icon {{if isFour 'active'}}"></i>
  <i class="icon {{if isFive 'active'}}"></i>
</div>